body {
    
    background-size: cover;
  }
  .grid{
    display: grid;
     grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
  }
  .column:hover{
   
    transform: scale(1.1);
    /* box-shadow: 0px 2px 0px 5px rgb(161, 165, 165); */
}
img{
    border-radius: 100px;
}
.email{
    font-weight: bold;
}
.read-more{
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-decoration-line: underline;
    font-style: italic;
}
.column{
    display: flex;
    flex-direction: column;
    width: 292px; 
    padding: 10px;
    padding-bottom: 25px;
    padding-top: 20px;
    /* background: rgba(202, 145, 145, 0.726); */
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    margin-left:4rem;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    margin-bottom: 1rem;
    transition: 0.3s ease;
  transition: transform .4s linear; 
    line-height:1.3cm;
} 

